.signInWrap {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.logoWrap {
  display: flex;
  justify-content: center;
}

.menuContainer {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.menuWrap {
  display: flex;
  list-style: none;
}
.menuWrap li {
  padding: 10px;
}

.searchWrap {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0%, 50%);
  height: 32px;
  right: 0px;
  border-bottom: 1px solid black;
}
.searchWrap input {
  border: none;
  outline: none;
}
