.signInWrap {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}

.logoWrap {
  display: flex;
  justify-content: center;
}

.menuContainer {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.menuWrap {
  display: flex;
  list-style: none;
}
.menuWrap li {
  padding: 10px;
}

.searchWrap {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0%, 50%);
  height: 32px;
  right: 0px;
  border-bottom: 1px solid black;
}
.searchWrap input {
  border: none;
  outline: none;
}

.productCardContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 50px;
  gap: 5px;
}

.signinContainer {
  display: flex;
  justify-content: center;
  padding: 100px;
}

.formContainer {
  width: 300px;
}

.imgWrap {
  display: flex;
  justify-content: flex-end;
}

.dropdown-box {
  margin: 20px 0 20px 0;
}

.addButton {
  width: 100%;
  height: 40px;
  background-color: black;
  color: white;
}
