.phonebook-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  height: 500px;
  padding: 0 100px 0 100px;
}
.title {
  text-align: center;
}

.left-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  border: 3px solid blue;
}

.create-button {
  width: 60px;
}

.right-box {
  display: flex;
  flex-direction: column;

  border: 3px solid blue;
}

.person-box {
  display: flex;
  align-items: center;
}

.person-info {
  display: flex;
  flex-direction: column;
}
